$header_bg_color: #ffb8ca;
$mobile_menu_bg_color: #e17992;
$main_bg_color: #fff5f6;

$main_accent_color: #d41443;

$ice_coffee_color: #f0d1a5;
$milkshake_color: #c2e297;

$black: #000;
$white: #fff;

$font_description_color: #907e82;
$font_theme_color: #ffa5ba;

$footer_icons_color: #fea5bb;
$footer_border_color: #e1e1e1;

$button_hover: #ecebeb;
$function-time: cubic-bezier(0.4, 0, 0.2, 1);

$locations_box_shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

$transition-time: 250ms;
$cubic-hover: cubic-bezier(0.4, 0, 0.2, 1);
$quote-bg: #fafafa;
$reviews-line-color: #e1e1e1; /* цвет линии в секции customer-reviews */

/*Кнопки*/

$infocus-btn: #ffffff;
$autofocus-btn: #d41443;
$focus-btn: #c7133e;
$focus-second-btn: #ecebeb;
$radio-btn: #d9d9d9;
$radio-btn-active: #d31342;
