<footer class="section footer-bg">
  <div class="container">
    <div class="info">
      <div class="motto">
        <p class="motto__primary">homemade ice cream made</p>
        <p class="motto__secondary">with passion</p>
      </div>
      <div class="footer-contacts">
        <ul class="footer-contacts__soc-media">
          <li class="footer-contacts__item">
            <a href="https://www.github.com" class="footer-contacts__link" target="_blank">
              <svg class="footer-contacts__icon" width="19px" height="19px">
                <use href="./images/symbol-defs.svg#github_icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="https://www.telegram.org" class="footer-contacts__link" target="_blank">
              <svg class="footer-contacts__icon" width="19px" height="19px">
                <use href="./images/symbol-defs.svg#telegram_icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="https://www.facebook.com" class="footer-contacts__link" target="_blank">
              <svg class="footer-contacts__icon" width="19px" height="19px">
                <use href="./images/symbol-defs.svg#facebook_icon"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contacts__text">
          <span>Feel free to contact</span>
          <a class="footer-contacts__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright__text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
