<section class="hero-header" id="home">
    <header class="header">
        <div class="container header__container">
            <div class="header__box">
                <a class="logo" href="./">
                    <picture>

                        <source srcset="./images/logo-1.webp 1x, ./images/logo-1@2x.webp 2x" type="image/webp">
                        <source srcset="./images/logo-1.png 1x, ./images/logo-1@2x.png 2x">

                        <img class="logo__icon" src="#" alt="logo">
                    </picture>
                </a>
                <button type="button" class="burger js-open-menu"  aria-expanded="false"
                    data-menu-open>
                    <svg class="burger__icon" width="20" height="12">
                        <use href="./images/symbol-defs.svg#icon-Burger"></use>
                    </svg>
                </button>
                <nav class="navigation">
                    <ul class="header__menu">
                        <li class="menu__item list">
                            <a class="menu__link menu__link_activ">Home</a>
                        </li>
                        <li class="menu__item list">
                            <a class="menu__link">About us</a>
                        </li>
                        <li class="menu__item list">
                            <a class="menu__link">How it’s made?</a>
                        </li>
                        <li class="menu__item list">
                            <a class="menu__link">Our products</a>
                        </li>
                        <li class="menu__item list">
                            <a class="menu__link">Contact</a>
                        </li>
                    </ul>
                </nav>
 
                <button type="button" data-modal-open class="buy-now__btn">
                    <span class="buy-now__text">Buy now</span>
                    <svg class="about-images_svgb" height="8" width="4">
                            <use href="./images/symbol-defs.svg#direction_icon"></use>
                        </svg>

            </div>
            
            <div class="hero">

                <h1 class="hero__title">ice cream<br>
                    made with<br>
                    <span class="hero__title_color">passion</span>
                </h1>

 <!--  -->
                <ul class="hero-counter__list">
                    <li class="hero-counter__item">
                        <div class="hero-counter__wrapper">
                            <p class="hero-counter__value">16</p>
                            <p class="hero-counter__param">cafes</p>
                        </div>
                        <span class="hero-counter__circe"></span>

                    </li>
                    <li class="hero-counter__item">
                        <div class="hero-counter__wrapper">
                            <p class="hero-counter__value">23</p>
                            <p class="hero-counter__param">food trucks</p>
                        </div>
                        <span class="hero-counter__circe"></span>
        
                    </li>
                </ul>

                <!--  -->
            </div>

            <ul class="hero__buttons">
                <li class="hero__button-item">
                    <a class="hero__button-link" href="">Products</a>
                </li>
                <li class="hero__button-item hero__button-item_white">
                    <a class="hero__button-link hero__button-link_red" href="">How it’s made?</a>
                </li>

            </ul>
            <div class="hero__text-block">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et</p>
                    <a href=""> 
                    <img class="hero-link-img" src="./images/tab.png" alt="">       
                </a>
            </div>
            <ul class="hero__pic">

                <li class="hero__pic-item hero__pic-item_left">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/desk-decanter-1.webp 1x, ./images/desk-decanter-1@2x.webp 2x"
                            type="image/webp">
                        <source media="(min-width: 1200px)"
                            srcset="./images/desk-decanter-1.png 1x, ./images/desk-decanter-1@2x.png 2x">

                        <source media="(min-width: 768px)"
                            srcset="./images/tabl-decanter-1.webp 1x, ./images/tabl-decanter-1@2x.webp 2x"
                            type="image/webp">
                        <source media="(min-width: 768px)"
                            srcset="./images/tabl-decanter-1.png 1x, ./images/tabl-decanter-1@2x.png 2x">
                        <img class="hero__pic-img" src="#" alt="decanter">
                    </picture>
                </li>
                <li class="hero__pic-item">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/desk-marichka-1.webp 1x, ./images/desk-marichka-1@2x.webp 2x"
                            type="image/webp">
                        <source media="(min-width: 1200px)"
                            srcset="./images/desk-marichka-1.png 1x, ./images/desk-marichka-1@2x.png 2x">

                        <source media="(min-width: 768px)"
                            srcset="./images/tabl-marichka-1.webp 1x, ./images/tabl-marichka-1@2x.webp 2x"
                            type="image/webp">
                        <source media="(min-width: 768px)"
                            srcset="./images/tabl-marichka-1.png 1x, ./images/tabl-marichka-1@2x.png 2x">
                        <img class="hero__pic-img" src="#" alt="Marichka">
                    </picture>
                </li>
            </ul>


        </div>

    </header>
</section>