<section class="locations locations-picture" id="contact">
    <div class="container">
        <h2 class="locations__title">Location</h2>
        <ul class="locations-list">
            <li class="locations-list__item">
                <div class="locations-list__card">
                <div class="locations-list__box locations-list--margin-bottom">
                <p>CAFE</p>
                </div>
                <div class="locations-list--border locations-list--padding locations-list--size">
                    <p class="locations-list__card-title">Chicago</p>
                    <p class="locations-list--grey-color">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="locations-list--padding-top locations-list--size">
                <div class="locations-list__card-title">
                    <p>Monday - Friday</p>
                    <p class="locations-list--pink-color">06:00 AM - 10:00 PM</p>
                </div>
                <div class="locations-list--border locations-list--padding">
                    <p>Saturday - Sunday</p>
                    <p class="locations-list--pink-color">08:00 AM - 16:00 PM</p>
                </div>

                </div>
                <address class="locations-list--padding-top locations-list--size">
                    <ul class="locations-address-list">
                        <li><a href="tel:+610383766284" class="locations-list--grey-color">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="locations-list--grey-color">noreply@envato.com</a></li>
                    </ul>
                </address>
                </div>
            </li>
                
            <li class="locations-list__item">
                <div class="locations-list__card">
                <div class="locations-list__box-foodtruck locations-list--margin-bottom">
                <p>FOODTRUCK</p>
                </div>
                <div class="locations-list--border locations-list--padding locations-list--size">
                    <p class="locations-list__card-title">Los Angeles</p>
                    <p class="locations-list--grey-color">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="locations-list--padding-top locations-list--size">
                <div class="locations-list__card-title">
                    <p>Monday - Friday</p>
                    <p class="locations-list--pink-color">06:00 AM - 10:00 PM</p>
                </div>
                <div class="locations-list--border locations-list--padding">
                    <p>Saturday - Sunday</p>
                    <p class="locations-list--pink-color">08:00 AM - 16:00 PM</p>
                </div>
                </div>
                <address class="locations-list--padding-top locations-list--size">
                    <ul class="locations-address-list">
                        <li><a href="tel:+610383766284" class="locations-list--grey-color">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="locations-list--grey-color">noreply@envato.com</a></li>
                    </ul>
                </address>
                </div>
            </li>
                
            <li class="locations-list__item">
                <div class="locations-list__card">
                <div class="locations-list__box locations-list--margin-bottom">
                <p>CAFE</p>
                </div>
                <div class="locations-list--border locations-list--padding locations-list--size">
                    <p class="locations-list__card-title">New York</p>
                    <p class="locations-list--grey-color">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="locations-list--padding-top locations-list--size">
                <div class="locations-list__card-title">
                    <p>Monday - Friday</p>
                    <p class="locations-list--pink-color">06:00 AM - 10:00 PM</p>
                </div>
                <div class="locations-list--border locations-list--padding">
                    <p>Saturday - Sunday</p>
                    <p class="locations-list--pink-color">08:00 AM - 16:00 PM</p>
                </div>
                </div>
                <address class="locations-list--padding-top locations-list--size">
                    <ul class="locations-address-list">
                        <li><a href="tel:+610383766284" class="locations-list--grey-color">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="locations-list--grey-color">noreply@envato.com</a></li>
                    </ul>
                </address>
                </div>
            </li>
        </ul>
        
    <div class="locations--text-alight">
    <ul class="locations-list__buttons">
    <li class="locations-list__button">
    <button type="button" class="main-button--red main-button"> 
        <div class="button-flex">
        <span class="button-text button-text--white">Our<span class="button-padding">Locations</span></span>
        <svg class="locations__svg-icon" height="8" width="8">
        <use href="./images/symbol-defs.svg#direction_icon_white"></use>
    </svg>
    </div>
  </button>
</li>
    <li class="locations-list__button">
    <button type="button" class="main-button--white main-button">
        <div class="button-flex">
        <span class="button-text button-text--red">Franchise</span>
        <svg  class="locations__svg-icon" height="8" width="8">
        <use href="./images/symbol-defs.svg#direction_icon"></use>
      </svg>
    </div>
  </button>
    </li>
    </ul>
    </div>
    </div>
</section>
