<div class="mobile-menu js-menu-container js-close-menu">
  <button class="mobile-menu__close">
    <svg class="mobile-menu__icon" width="14px" height="14px">
      <use href="./images/symbol-defs.svg#icon-cross"></use>
    </svg>
  </button>
  <button type="button" class="main-button--white mobile-menu__button">
    <div class="button-flex">
      <span class="button-text button-text--red">Buy Now</span>
      <svg height="14" width="10" class="button__icon">
        <use href="./images/symbol-defs.svg#direction_icon"></use>
      </svg>
    </div>
  </button>
  <ul class="mobile-menu__links">
    <li class="mobile-menu__link"><a class="current" href="#home">Home</a></li>
    <li class="mobile-menu__link"><a class="mobile-menu__anchor" href="#about_us">About us</a></li>
    <li class="mobile-menu__link">
      <a class="mobile-menu__anchor" href="#how_made">How it's made?</a>
    </li>
    <li class="mobile-menu__link">
      <a class="mobile-menu__anchor" href="#products">Our products</a>
    </li>
    <li class="mobile-menu__link"><a class="mobile-menu__anchor" href="#contact">Contact</a></li>
  </ul>
</div>
