<section class="products" id="products">
 <div class="container">
     <p class="product-lable">100 natural</p>
     <h2 class="products-title">products</h2>

<ul class="products-list list">
  <li class="products-item products-item--ice-cream">
            <h3 class="products-heading decoration dec">ice cream</h3>
            <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>     
           
<button class="button products-btn">
    <img src="/images/products/arrow-right.png" alt="Arrow" class="products-arrow">
</button>
</li>

  <li class="products-item products-item--ice-coffee">
            <h3 class="products-heading">ice coffee</h3>
            <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
       

<button class="button products-btn">
    <img src="/images/products/arrow-right.png" alt="Arrow" class="products-arrow">
</button>
</li>

  <li class="products-item products-item--milkshakes">
     
            <h3 class="products-heading">milkshakes</h3>
        <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
    
    <button class="button products-btn">
        <img src="/images/products/arrow-right.png" alt="Arrow" class="products-arrow">
    </button>
</li>
</ul>

</div>
</section>
