body {
  font-family: 'Titan One', Arial;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
    width: 1280px;
  }
}

.button {
  display: block;
  height: 44px;
  border: none;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 20px;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
  transition-duration: $transition-time;
  transition-timing-function: $cubic-hover;
  &-light {
    background-color: $white;
    color: $main_accent_color;
  }
  &-light:hover {
    background-color: $button_hover;
    color: $main_accent_color;
  }

  &-dark {
    background-color: $main_accent_color;
    color: $white;
  }

  &-dark:hover {
    background-color: #c7133e;
    color: $white;
  }

  &-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-left: 37px;
    padding-right: 37px;
    .button-title {
      display: block;
      margin-right: 12px;
    }
  }
}
