.products {
  background-color: $white;

  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products .product-lable {
  margin-bottom: 15px;
  color: $font_theme_color;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-title {
  margin-bottom: 144px;

  color: $main-accent-color;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }
}

.products-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;

    margin-left: calc(-1 * 20px);
    margin-top: calc(-1 * 20px);
  }

  @media screen and (min-width: 1280px) {
    margin-left: calc(-1 * 24px);
    margin-top: calc(-1 * 24px);
  }
}

.products-item {
  padding-top: 160px;
  padding-bottom: 41px;
  padding-left: 40px;
  padding-right: 40px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
    width: 100%;
  }

  width: 280px;
  max-width: 380px;

  border-radius: 24px;

  &.products-item--ice-cream {
    position: relative;
    background-color: $header_bg_color;
  }
  &.products-item--ice-coffee {
    position: relative;
    background-color: $ice_coffee_color;
  }
  &.products-item--milkshakes {
    position: relative;
    background-color: $milkshake_color;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    padding-top: 152px;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;

    margin-left: 20px;
    margin-top: 20px;
    flex-basis: calc(100% / 3 - 20px);
  }
}

@media screen and (min-width: 1280px) {
  .products-item {
    padding-top: 163px;
    padding-bottom: 50px;
    padding-left: 44px;
    padding-right: 44px;

    margin-left: 24px;
    margin-top: 24px;
    flex-basis: calc(100% / 3 - 24px);
  }
}

.products-item--ice-cream::before {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);

  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/ice-cream_mobile.png);

  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .products-item--ice-cream::before {
    background-image: url(/images/products/ice-cream_mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .products-item--ice-cream::before {
    width: 220px;
    height: 226px;
    transform: translate(-50%, -46%);
    background-image: url(/images/products/ice-cream_tablet.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .products-item--ice-cream::before {
    background-image: url(/images/products/ice-cream_tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-item--ice-cream::before {
    width: 335px;
    height: 335px;
    transform: translate(-50%, -60%);
    background-image: url(/images/products/ice-cream_desktop.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .products-item--ice-cream::before {
    background-image: url(/images/products/ice-cream_desktop@2x.png);
  }
}

.products-item--ice-coffee::before {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);

  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/ice-coffee_mobile.png);

  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .products-item--ice-coffee::before {
    background-image: url(/images/products/ice-coffee_mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .products-item--ice-coffee::before {
    width: 220px;
    height: 233px;
    transform: translate(-50%, -46%);
    background-image: url(/images/products/ice-coffee_tablet.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .products-item--ice-coffee::before {
    background-image: url(/images/products/ice-coffee_tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-item--ice-coffee::before {
    width: 337px;
    height: 335px;
    transform: translate(-50%, -60%);
    background-image: url(/images/products/ice-coffee_desktop.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .products-item--ice-coffee::before {
    background-image: url(/images/products/ice-coffee_desktop@2x.png);
  }
}

.products-item--milkshakes::before {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);

  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/milkshake_mobile.png);

  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) {
  .products-item--milkshakes::before {
    background-image: url(/images/products/milkshake_mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .products-item--milkshakes::before {
    width: 220px;
    height: 224px;
    transform: translate(-50%, -46%);
    background-image: url(/images/products/milkshake_tablet.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .products-item--milkshakes::before {
    background-image: url(/images/products/milkshake_tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-item--milkshakes::before {
    width: 337px;
    height: 335px;
    transform: translate(-50%, -60%);
    background-image: url(/images/products/milkshake_desktop.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .products-item--milkshakes::before {
    background-image: url(/images/products/milkshake_desktop@2x.png);
  }
}

.products-heading {
  margin-bottom: 30px;
  position: relative;
  color: $white;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: 30px;
    line-height: 1.13;
  }
}

.products-description {
  margin-bottom: 30px;
  color: $white;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;

  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 62px;
  }
}

.products-description::before {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  background-image: url(/images/products-decoration.png);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.products-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
}

.products-arrow {
  width: 40px;
  height: auto;
}
